<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.NewsInfoDao">
    <select id="checkRepeat" resultType="java.lang.Integer">
        select count(id) from `news_info` where ${column} = #{value}
        <if test="id != null">
            and id != #{id}
        </if>
    </select>
    <select id="findByNewsName" resultType="com.example.vo.NewsInfoVo">
        select * from `news_info` where `name` = #{newsname}
    </select>
    <select id="findByName" resultType="com.example.vo.NewsInfoVo">
        select `news_info`.* from `news_info`
        where 1 = 1
        <if test="name != null and name != '' and name != 'all'">
            and `news_info`.`name` like concat('%', #{name}, '%')
        </if>
        order by `news_info`.id
    </select>
    <select id="count" resultType="Integer">
        select count(id) from `news_info`
    </select>
<!--    删除-->
    <delete id="deleteById">
        delete from `news_info` where id = #{id}
    </delete>
<!--    编辑-->
    <update id="updateById">
        update `news_info` set
        <if test="name != null and name != ''">
            `name` = #{name},
    </if>
        <if test="content != null and content != ''">
            `content` = #{content},
</if>
    </update>

    </mapper>