<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.SubClassifyInfoDao">

    <resultMap type="SubClassifyInfo" id="SubClassifyInfoResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="description"    column="description"    />
        <result property="classifyId"    column="classifyId"    />
    </resultMap>

    <sql id="selectSubClassifyInfoVo">
        select id, name, description, classifyId from sub_classify_info
    </sql>

    <select id="selectSubClassifyInfoList" parameterType="SubClassifyInfo" resultMap="SubClassifyInfoResult">
        <include refid="selectSubClassifyInfoVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="classifyId != null "> and classifyId = #{classifyId}</if>
        </where>
    </select>

    <select id="selectSubClassifyInfoById" parameterType="Long" resultMap="SubClassifyInfoResult">
        <include refid="selectSubClassifyInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertSubClassifyInfo" parameterType="SubClassifyInfo" useGeneratedKeys="true" keyProperty="id">
        insert into sub_classify_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="classifyId != null">classifyId,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="classifyId != null">#{classifyId},</if>
         </trim>
    </insert>

    <update id="updateSubClassifyInfo" parameterType="SubClassifyInfo">
        update sub_classify_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="classifyId != null">classifyId = #{classifyId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSubClassifyInfoById" parameterType="Long">
        delete from sub_classify_info where id = #{id}
    </delete>


</mapper>
